body{
	font-family: Arial;
	margin:0;
	padding:20px;
	background-color: #ebddee;
	
}
*{
	box-sizing: border-box;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
header{
	background-color: #ffffff;
	padding:30px;
}
header h1{
	text-align: center;
	font-size:60px;
	color:#000000;
	margin:1.5 0px;
}
.dash a{
	color: #ffffff;
            font-weight: 500;
            cursor: pointer;
            border-radius: 2px;
            height: 32px;
            padding: 5px;
            border: 3px solid #e0a4a4;
}
h2{
	color:#000000;
margin:1.5 0px;	
}
.left-column{
float: left;
width: 75%;
}

.right-column{
 width: 25%;
 float: right;
 padding-left:20px;
padding-top: 10px;	

}
.card{
	padding: 20px;
	background-color: #ffffff;
 margin-top:20px;
}

.card img{
	width: 100%;
	
}
.row .left-column .card img{
	width: 250px;
	height: 200px;
	border: 4px solid rgba(68, 18, 18, 0.356);
	border-radius: 5px;
}


.right-column .card img{
	margin-bottom: 10px;
}


footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

.right-column .card img{
 width: 200px;
 height: 100px;
 border: 4px solid rgba(80, 109, 240, 0.925);
	border-radius: 5px;
}
.right-column .card:hover{
	box-shadow: 0 0 20px 0px rgba(148, 77, 77, 0.89);
   }
.left-column .card:hover{
	box-shadow: 0 0 20px 0px rgba(39, 37, 13, 0.89);
   }

/*responsive */

@media(max-width:800px){
	.left-column,.right-column{
    width: 100%;
    padding: 0px;
	}
}

header{
	background-image: url('../img/nav.jpg');
	background-size: cover;
}
header h1{
	color: white;
}